apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: three-tier
type: Opaque
stringData:
  #This is a template for others to copy.
  #(Copy this template for your secret if youre copying my code)
  mongo-url: mongodb://admin:YOUR_PASSWORD_HERE@mongo-service:27017/myapp?authSource=admin